@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

:root{
    --primary-color:#708df8;
    --second-color:#ffffff;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /**/
}

.containerTodo{
    border-radius: 10px;
    position: relative;
    width: 400px;
    height: 390px;
    background-color: var(--second-color);
}

.btt{
    display: flex;
}

.button{
    border: none;
    width: 390px;
    height: 58px;
    background-color: var(--second-color);
    border-bottom:1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    size: 10px;
    cursor: pointer;
}

.button:nth-child(1){
    border-radius: 10px 0px 0px 0px;
}

.button:nth-child(2){
    border-radius: 0px 10px 0px 0px;
}

.content{
    overflow-y: auto; /*scrool para não estourar o espaço*/
    padding: 5px;/**/
}

.content:nth-child(1){
    width: 390px;
    height: 244px;
    
}

.content:nth-child(2){
    width: 390px;
    height: 244px;
}

.contentDone,
.contentActivies{
    display: none;   
}

.item{
    display: flex;
    justify-content: space-between; 
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #343434;
}

.tasks{
    display: flex;
    flex-direction: column;
}

span{
    width: 43px;
    height: 10px;
    left: 493px;
    top: 235px;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #343434;
}

.iconActivies{
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    color: #343434;
}

.contentDone{
    top: 218px;
    left: 445px;
}

.newActive{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 83px;
    left: 445px;
    top: 461px;
    border-top: 1px solid #e8e8e8;
    border-radius: 0px opx 10px 10px;
     
}

.newActive-input{
   display: flex;
   justify-content: space-between;
   left: 445px;
   top: 461px;
   border-radius: 0px 0px 10px 10px;
}

.newActive-input2 > input{ 
    outline: none;
    width: 254px;
}

.newActive-input3> input{ 
    outline: none;
    width: 87px;
}

.newActive-input3 > img{
    width: 87px;
    outline: none;
}

#areaActivie,
#areaTime{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #343434;
    border: none;
    margin: 2%;
}

.newActive > button{
    position: absolute;
    width: 149px;
    height: 32px;
    background: var(--primary-color);
    box-shadow: 0px 0px 20px rgba(112,141,248,0.5);
    border-radius: 60px;
    border: none;
    color: var(--second-color);
    cursor: pointer;
    bottom: -16px;
}

::-webkit-scrollbar {/*barra arrastável de rolagem inteira*/
    width: 3px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb { /*barra arrastável de rolagem*/
    background: var(--second-color);
}

.active{ /*para mudar as janelas do todolist*/
    display: block;
}

.activeText{ /*mudar a cor das letras dos botões*/
    color: #708df8;
}








